configuration {
  mode: [ combi ];
  combi-mode: [drun, ssh];
  font: "Cantarell 10";

  timeout {
    action: "kb-cancel";
    delay:  0;
  }
  filebrowser {
    directories-first: true;
    sorting-method:    "name";
  }
}

@theme "theme/fushigina_miko"
